* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: #27ab94;

    &:hover {
        background-color: #1f2154;
        cursor: pointer;
    }
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}