@import "./_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: $jungleGreen;

    &:hover {
        background-color: $portGore;
        cursor: pointer;
    }
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    
}

h3.section-desc-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: #616865;
    letter-spacing: 1px;
}

h2.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 55px;

    span {
        color: $jungleGreen;
        font-weight: 400;
    }
}